body {
    font-family: 'Permanent Marker', cursive;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.row {
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    width: 33%;
    height: 97%;
    border: 2px solid black;
}

.clicked {
    cursor: not-allowed;
}

.cell:hover:not(.clicked) {
    cursor: pointer;
}

#row1 > .cell {
    border-top: none;
}

#row3 > .cell {
    border-bottom: none;
}

.left {
    border-left: none;
}

.right {
    border-right: none;
}

button {
    font-family: 'Permanent Marker', cursive;
}

button:hover:disabled {
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    cursor: pointer;
}